.order-arrow {
  opacity: 0.4;
  cursor: pointer;
}

.order-arrow:hover {
  opacity: 1;
}

.active-arrow {
  opacity: 1;
}

.form-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  position: relative;
}

.form-wrap form {
  position: absolute;
  top: 10rem;
}

.form-container {
  display: flex;
  flex-direction: column;

  width: 32rem;
  padding: 2rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
  background-color: rgb(231, 236, 240);
}

.form-container li:not(:first-child) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem 0;
}

.form-container li input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
}

.button {
  padding: 1rem;
  border: 0.1rem #808080 solid;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  color: white;
}

.button:hover {
  border: 0.1rem #404040 solid;
}

.button.primary {
  background-color: #2f8bf5;
}

.disabled {
  cursor: not-allowed;
  background-color: whitesmoke;
}

input[type="radio"] {
  height: 2em;
}
